body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  padding: 2rem;
}

button {
  height: 2rem;
  width: 12rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

